# =====================
# Java / Maven
# =====================
target/
*.jar
*.war
*.class

# =====================
# Logs
# =====================
*.log
logs/

# =====================
# IDEs
# =====================
.idea/
.vscode/
*.iml

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Docker
# =====================
docker-compose.override.yml

# =====================
# Jenkins (local artifacts)
# =====================
jenkins_home/

# =====================
# Terraform (if you add later)
# =====================
*.tfstate
*.tfstate.*
.terraform/

# =====================
# Kubernetes temp files
# =====================
*.kubeconfig

# =====================
# Secrets (VERY IMPORTANT)
# =====================
.env
*.pem
*.key
*.p12

# =====================
# Vagrant (since you're skipping it)
# =====================
.vagrant/